<style>
  .container {
    font-family: Avenir;
    padding: 20px;
  }

  .tournament-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-gap: 20px;
  }

  .tournament-card {
    background-color: azure;
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 5px;
    word-wrap: break-word;
  }

  .buttons {
    margin-top: 20px;
  }

  button {
    margin-top: 10px;
    background-color: lightseagreen;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }

  button:hover {
    background-color: lightseagreen;
  }

</style>
<div class="container">
  <h1>Liste des Tournois</h1>
  <div class="tournament-list">
    <div class="tournament-card" *ngFor="let tournament of tournaments">
      <h3>{{ tournament.nom }}</h3>
      <p>Date: {{ tournament.date }}</p>
      <p>Lieu: {{ tournament.lieu }}</p>
      <p>Format: {{ tournament.format }}</p>
      <p>Description: {{ tournament.description }}</p>
      <div class="buttons">
          <button (click)="register(tournament.id)">Inscription</button>
          <button (click)="unregister(tournament.id)">Désinscription</button>
          <button (click)="launch(tournament.id)">Lancer</button>
          <button (click)="close(tournament.id)">Fermer</button>
          <button (click)="detail(tournament.id)">Détails</button>
        </div>

        <!-- Il faudra modifier ici en fonction du status du tournoi -->
      </div>
    </div>
  </div>
