<nav class="navbar navbar-expand navbar-light bg-light">

  <ul ngbNav class="navbar-nav mr-auto">
    <li ngbNavItem routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a ngbNavLink routerLink="/">Home</a>
    </li>

    <li ngbNavItem routerLinkActive="active">
      <a ngbNavLink routerLink="/tournaments">Tournois</a>
    </li>

    <li ngbNavItem routerLinkActive="active">
      <a ngbNavLink routerLink="/create-tournaments">Creer un tournoi</a>
    </li>

    <li ngbNavItem routerLinkActive="active">
      <a ngbNavLink routerLink="/player-registration/:id">Inscription</a>
    </li>

    <li ngbNavItem routerLinkActive="active">
      <a ngbNavLink routerLink="/player-unregistration/:id">Désinscription</a>
    </li>

  </ul>
</nav>

<router-outlet />
