<style>

  .container {
    padding: 20px;
  }

  input, button {
    display: block;
    margin-bottom: 10px;
  }

  button {
    background-color: #dc3545;
    color: #fff;
    border: none;
    padding: 8px 16px;
    border-radius: 5px;
    cursor: pointer;
  }

  button:hover {
    background-color: #c82333;
  }

</style>
<div class="container">
  <h1>Desinscription d'un Joueur</h1>
  <form (submit)="closeTournament()">
    <label>Mot de passe :</label>
    <input type="text" [(ngModel)]="pwd" name="nom" required>
    <button type="submit">Fermer</button>
  </form>
</div>

